@model IEnumerable<string>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Language Features</title>
</head>

<body>
    @foreach (string item in Model)
    {
        <li>@item</li>
    }
</body>

</html>